.element__delete-button {
  background: url("../../../images/delete-button.svg") no-repeat center;
  width: 18px;
  height: 19px;
  position: absolute;
  right: 15px;
  top: 18px;
  border: none;
}

.element__delete-button:hover {
  cursor: pointer;
  opacity: .6;
}
