.element__like {
  display: block;
  position: absolute;
  width: 21px;
  height: 18px;
  background-image: url(../../../images/like.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  bottom: 30px;
  right: 18px;
  z-index: 7;
  background-color: white;
  border: 0;
  outline: 0;
  transition: transform 0.1s linear;
}

.element__like:hover {
  transform: scale(1.3, 1.3);
}