.modal__close {
    color: white;
    position: absolute;
    top: -55px;
    right: -48px;
    cursor: pointer;
    font-size: 70px;
    transform: rotate(45deg);
    background-color: #0000;
    border: 0;
}

.modal__close:active, .modal__close:focus {
    outline: none;
}

.modal__close:hover {
    color: rgba(255, 255, 255, 0.6);
}

@media screen and (max-width: 550px) {
    .modal__close {
        color: black;
        top: -7px;
        right: 0;
        font-size: 45px;
    }
}