.modal__title {
    font-size: 24px;
    line-height: 29px;
    font-style: normal;
    font-weight: 900;
    color: black;
    margin: 32px 0 42px;
    align-self: flex-start;
    padding-left: 36px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 80%;

}