@import url(__avatar/profile__avatar.css);
@import url(__info/profile__info.css);
@import url(__name/profile__name.css);
@import url(__role/profile__role.css);
@import url(__edit-button/profile__edit-button.css);
@import url(__add-button/profile__add-button.css);
@import url(__name-edit/profile__name-edit.css);

.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  width: 100%;
}

@media all and (max-width: 740px) {
  .profile {
    flex-direction: column;
    justify-content: center;
    align-self: inherit;
    width: 282px;
  }
}