.header__logo {
    padding-top: 45px;
    max-width: 142px;
    padding-bottom: 41px;
}

@media screen and (max-width: 920px) {
    .header__logo {
        margin-left: 8.5%;
    }
}

@media screen and (max-width: 620px) {
    .header__logo {
        max-width: 104px;
        padding: 28px 0 32px 0;
    }
}