.profile__role {
    font-family: Inter, sans-serif, Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    margin: 16px 0 0;
}

@media screen and (max-width: 920px) {

    .profile__role {
        margin: 14px auto 0;
    }
}

@media screen and (max-width: 400px) {
    .profile__role {
        font-size: 14px;
        line-height: 17px;
    }
}