.modal__container {
  background-color: #fff;
  width: 430px;
  border-radius: 10px;
  position: fixed;
  top: calc(50vh - 165px);
  left: calc(50vw - 215px);
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 530px) {
  .modal__container {
    width: 240px;
    left: calc(50vw - 120px);
  }
}
