.profile__info {
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 920px) {
    .profile__info {
        margin: auto;
    }
}

@media screen and (max-width: 920px) {
    .profile__info {
        flex-direction: column;
    }

}