.modal__close {
    color: white;
    position: absolute;
    top: -55px;
    right: -48px;
    cursor: pointer;
    font-size: 70px;
    transform: rotate(45deg);
    background-color: #0000;
    border: 0;
}

.modal__close:active, .modal__close:focus {
    outline: none;
}