.modal__button {
    margin-top: 48px;
    margin-bottom: 36px;
    background-color: #000;
    color: white;
    padding: 13px auto 18px auto;
    height: 50px;
    z-index: 11;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    line-height: 22px;
    border-radius: 2px;
    transition: background .3s linear;
}

.modal__button:hover {
    background: rgba(0, 0, 0, 0.8);
}