@import url(__copyright/footer__copyright.css);

.footer {
  max-width: 882px;
  margin: 0 auto 60px auto;
}

@media all and (max-width: 945px) {
  .footer {
    margin-left: 5vw;
    margin-right: 5vw;
  }
}

@media all and (max-width: 330px) {
  .footer {
    margin-left: 2vw;
    margin-right: 2vw;
  }
}


